---
- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: If a new directory is specified, create it and link it
  block:
    - name: Populate service facts
      service_facts:
    - name: Stop docker if it is running (for the case when it is already installed)
      service:
        name: docker
        state: stopped
      when:
        - ansible_facts.services['docker.service'] is defined
        - ansible_facts.services['docker.service']['state'] == "running"
    - name: Ensure the new directory exists
      file:
        path: "{{ docker_link_dir }}"
        owner: root
        group: root
        mode: 0711
        state: directory
    - name: Create the link to the new directory
      file:
        src: "{{ docker_link_dir }}"
        dest: /var/lib/docker
        state: link
        force: true
  when: docker_link_dir is defined

- name: Install Docker.
  package:
    name: "{{ docker_package }}"
    state: "{{ docker_package_state }}"
  notify: restart docker

# TODO: Remove this shim once 18.09.1 or later is released.
- import_tasks: docker-1809-shim.yml
  when: ansible_service_mgr == 'systemd'

- name: Ensure Docker is started and enabled at boot.
  service:
    name: docker
    state: "{{ docker_service_state }}"
    enabled: "{{ docker_service_enabled }}"

- name: Ensure handlers are notified now to avoid firewall conflicts.
  meta: flush_handlers

- include_tasks: docker-compose.yml
  when: docker_install_compose

- include_tasks: docker-users.yml
  when: docker_users
